<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PRUEBA</title>
</head>
<body>
	<center>
		<h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1>
		<h1>ELECTRONICA Y TELECOMUNICACIONES</h1>
		<h1><img src="/static/images/rb.jpg" width="200" height="200"></h1>
		<input type="text" id="contrasena">
		<button id = 'validar' type="button" onclick="entrar();">ENVIAR</button>
		<h2>Sensores</h2>
		<ul id="sn1"></ul>
	</center>
</body>
</html>
